/* @import 'styles/qf'; */

/* @mixin showcase_card-base { */
/*     display: grid; */
/*     width: 100%; */
/* } */

.showcase_card {
    grid-template-columns: [img-start] 48% 4% [text-start] 48%;

    &-reversed {
        grid-template-columns: [text-start] 48% 4% [img-start] 48%;
    }

    &__img {
        grid-column-start: img-start;
        grid-column-end: span 1;
        grid-row-start: 1;
    }

    &__text {
        &__container {
            grid-column-start: text-start;
            grid-column-end: span 1;
            grid-row-start: 1;
            color: $dark-grey;
            width: 80%;
            height: 100%;
        }
    }
}
